[submodule "tmux/.tmux"]
	path = tmux/tag-default/.tmux
	url = https://github.com/gpakosz/.tmux
[submodule "nvim/.config/nvim"]
	path = nvim/tag-default/.config/nvim
	url = https://github.com/your-username/kickstart.nvim.git
	branch = custom_config
